@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
/* "Kode Mono", monospace */

*{
    padding: 0;
    margin: 0;
    font-family: "Kode Mono", monospace;
}

body{
    background-color: rgb(8 47 73);
    color: rgb(153 246 228);
}

.container{
    margin: 200px;
    width: 90%;
}

.display{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(209 250 229);
    margin-top: 40px;
    padding: 23px 23px;
    border-radius: 10px;
}

.container h1{
    font-size: 40px;
    font-weight: 700;
}

.container h1 span{
    color: whitesmoke;
    font-size: 50px;
    text-decoration: underline;
}

.display img{
    width: 40px;
    cursor: pointer;
}

.display input{
    border: 0;
    outline: 0;
    font-size: 25px;
}

.genimage{
    width: 42px;
    margin-right: 12px;
}

.container button{
    border: 0;
    outline: 0;
    background-color: rgb(153 246 228);
    margin-top: 20px;
    font-size: 30px;
    padding: 12px 12px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}